
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal"><a class="navbar-brand" href="#"><img class="logo" src="https://firebasestorage.googleapis.com/v0/b/foodapp-d7dcc.appspot.com/o/logo.png?alt=media&token=9cd09381-b6fd-4029-8704-a9a645c4a84b" height="28"></a></h5>
    
    <nav class="my-2 my-md-0 mr-md-3">
   
      <a class="p-2 text-dark" href="#">I am a Resturant?</a>
    </nav>
    <div *ngIf="!isLoggedIn">
    <a class="btn btn-outline-primary" data-toggle="modal" data-target="#login">Customer Login</a>
  </div>
  <div *ngIf="isLoggedIn">
    <div class="dropdown show" *ngFor="let customer of customerdata">
      <a class="btn btn-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Logged In as: {{customer.firstName}}
      </a>
    
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" data-toggle="modal" data-target="#editProfile">Edit Profile</a>
        <a class="dropdown-item" (click)="logout()">Log out</a>
      </div>
    </div>
  </div>
  </div>



  <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" #openLoginModel>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">User Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="px-4 py-3" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
            <div class="row" >
                <!-- <div class="col-12 alert alert-danger">{{authError?.message}}</div> -->
            </div>
            <div class="form-group">
                <label for="exampleDropdownFormEmail1"><i class="fa fa-envelope-square"></i>&nbsp;<b>Email address</b></label>
                <input ngModel #emaillog="ngModel" type="email" name="email" class="form-control" placeholder="email@example.com">
            </div>
            <div class="form-group">
                <label for="exampleDropdownFormPassword1"><i class="fa fa-key"></i>&nbsp;<b>Password</b></label>
                <input ngModel #passwordlog="ngModel" name="password" type="password" class="form-control" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-outline-success btn-block" >  &nbsp;<b>SIGN IN</b></button>
            <button type="button" class="btn btn-outline-primary btn-block" (click)="loginAsGuest()">  &nbsp;<b>LOGIN AS GUEST</b></button>
        </form>
        </div>
        <div class="modal-footer">
            
        </div>
      </div>
    </div>
  </div>