<div class="content">
  

<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Hello</h1>
    <p class="lead">Tiffin is a weekly subscription food service. Get food from your favorite restaurant by paying once for the whole week</p>
    <hr class="my-4">
    <div *ngIf="isSubscribed">
    <h3>Current Subscription</h3>
    <table class="table table-borderless" *ngFor="let current of currentSubscription">
      <tbody>
        <tr>
          <th scope="row">Service Name</th>
          <td>{{current.providerName}}</td>
        </tr>
        <tr>
          <th scope="row">PackageName</th>
          <td>{{current.name}}</td>
        </tr>
        <tr>
          <th scope="row">Price</th>
          <td>{{current.price}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
  <form class="form-inline form-block">
    <input class="form-control mr-sm-2"  name="search" [(ngModel)]="searchText"  type="search" placeholder="Search" aria-label="Search">
  </form>
  <div class="restaurants">
    
         <div class="card-deck">
           <div class="card mb-4" *ngFor="let provider of providerList | filter:searchText" (click)="providerClick(provider.uid)">
             <img class="card-img-top" [src]="provider.avatarImage" alt="Card image cap" >
             <div class="card-body">
               <h5 class="card-title">{{provider.serviceName}}</h5>
               <p class="card-text"><b>Address: </b> {{provider.address}}</p>
             </div>
        
           </div>
           
         </div>
    </div>
</div>
</div>